{
    "#opt-preload": [
        "configure/MODULES.HOST",
        "configure/MODULES"
    ],
    "dbdir": "/opt/Epics/sumo/database",
    "dbrepo": "darcs rcsadm@repo.acc.bessy.de:/opt/repositories/controls/darcs/epics/support/sumo-deps-db",
    "dbrepomode": "push",
    "builddir": "/opt/Epics/sumo/build"
}

