# the name of the docker binary
# for now, we use podman instead:
DOCKER=podman

# directory with the docker files:
DOCKERFILEDIR=dockerfiles

IMAGE_BASENAME=hzb/goetzpf-python3-builder

BUILD_LOGFILE="DOCKER-BUILD.LOG"
RUN_LOGFILE="DOCKER-RUN.LOG"

# name of this application:
APPLICATION=sumo

function imagename {
  # usage: imagename DOCKERFILE
  echo "$IMAGE_BASENAME-$1"
}

# utility function:
function must_make {
    # $1: file to create
    # $2: source file
    if [ ! -e "$1" ]; then
        echo "true"
    fi
    if [ "$2" -nt "$1" ]; then
        echo "true"
    fi
}

